body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding:0;
  margin:0;
      font-family: 'Andada', sans-serif;
}

.clear-fix {
  overflow: auto;
}

.education-entry,
.work-entry,
.project-entry {
  padding: 0 5%;
}


#topContacts {
  padding-bottom: 50px;
}

h1 {
  font-size: 40px;
  color: #CDC9C9;
  line-height: 48px;
  display: inline;
  padding-right: 13px;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  padding: 10px;
}

h3 {
  font-style: normal;
  font-size: 20px;
  color: #000;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4a4a4a;
  line-height: 17px;
}

h2,
h3,
h4,
h5 {
  padding:10px 5%;

}


.date-text {
  font-style: normal;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: left;
  padding-right: 20px;
}

.location-text {
  font-style: normal;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: right;
  padding-right: 5px;

}

p {
  font-size: 14px;
  color: #333;
  line-height: 21px;
}

a {
  color: #1199c3;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

.welcome-message {
  font-style: normal;
  font-size: 16px;
  color: #8B8989;
  line-height: 60px;
  padding-left: 10px;
}


#skills-h3 {
  color: #CC1100;
  display: none;
  padding-top: 5px;
}

.orange {
  background-color: #CDC9C9;
}

.orange-text {
  color: #CC1100;
}

.white-text {
  color: #CDC9C9;
}

.gray {
  background-color: white;
  padding-bottom: 10px;
  clear:both;
}

.dark-gray {
  background-color: #222;
}

/* TODO: Replace with image later */
#header {
  background-color: #222;
  padding: 45px;
  padding-bottom: 20px;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.center-content {
  padding: 2.5% 5%;
}

ul {
  list-style-type: none;
}

.biopic {
  float: left;
  padding: 20px;
  width: 200px;
  display: none;
}

img {
  padding: 20px;
  padding-left: 0px;
  max-width: 100%;
}

span {
  padding: 5px;
  color: #8B8989;
}
#projects {
  color: #CDC9C9;
  background-color: #222;
  padding-bottom: 30px;
}
#projects p {
  color: #CDC9C9;
}

#projects a {
  font-size: 19px;
}

.carousel-outer {
  width: 1200px;
  margin: 0 auto;
}

em {
  font-style: normal;
  font-size: 14px;
}
.school-url {
  color: royalblue;
  font-size: 13px;
  padding-top: 5px; 
}

.online-url {
  color: royalblue;
  font-size: 13px;
}

#map {
  display: block;
  height: 100%;
  margin: 0 100px;
}

#mapDiv {
  height: 400px;
  padding-bottom: 7%;
  padding-top: 1.5%;
  background-color: #222;
  color: #CDC9C9;

}


#lets-connect {
  text-align: center;
}


/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {
  #lets-connect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  #lets-connect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
}


@media only screen and (max-width: 650px) {
  img {
    max-width: 100%;    
  }
  .location-text {
    display: none;
  }
}



@media only screen and (min-width: 750px) {
  #skills-h3,
  .biopic {
    display: block;
  }
}
